:root{
    --primary-main:#F1E6D6;
    --primary-dark:#060606;
    --secondary-main:#CFC2B2;
    --secondary-dark:#443E38;
    --primary-accent:#967968;
}

body{
    background-color: var(--primary-main);
    padding-inline: 5vw;
    font-family: 'Oswald', sans-serif;
    height: 100vh;

}
p{
    font-weight: 100;
    color: var(--secondary-dark);
    font-family: 'Roboto', sans-serif;
}

.main{
    display: grid;
    height: 95%;
    grid-template-rows: 0.5fr 0.5fr 5fr;
}


/* Styles related to the navigation*/
.nav-header{
    text-align: center;
    padding-top: 10px;
    padding-bottom: 10px;
}
.nav-logo-container{
    padding-top: 5px;
    padding-bottom: 5px;
    display: inline-block;
    border-top: var(--primary-dark) 2px solid;
    border-bottom: var(--primary-dark) 2px solid;
}




/* Styles related to category */
.category-container{
    /* border-bottom: var(--primary-dark) 1px solid; */
    border-top: var(--primary-dark) 1px solid;
}   
.category-list{
    list-style: none;
    display: flex;
    justify-content: space-around;
    align-items: center;

}
.category-list-item{
    font-weight: 100;
    color: var(--secondary-dark);
    
}
.category-list-item:hover{
    color: var(--primary-accent);
    cursor: pointer;
}





/* Styles related to content*/
.content{
    height: 100%;
}
.content-container{
    margin-top: 10px;
    display:grid;
    grid-template-columns: 1fr 2fr 1fr;
    column-gap: 10px;
    height: 100%;

}
.content-main-container{
    border: var(--primary-dark) 1px solid;
    padding: 10px;
}
.main-img{
   
    width: 100%;
    height: 250px;
    background-image: url("./../assets/vintage.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;


}
.main-desc{
    color: var(--secondary-dark);
    font-weight: 100;
    font-family: 'Roboto', sans-serif;
}


.content-top-news-container{
    display: grid;
    grid-template-rows: 1fr 1fr;
    gap: 10px;
    height: 100%;
}
.content-top-item{
    border-top:var(--primary-dark) 1px solid;
    padding-top: 5px;
}

.content-img-container{
    height: 50%;
    width: 75%;
    float: left;
    margin-right: 5px;
}

.content-desc{
    font-weight: 100;
    color: var(--secondary-dark);
    font-family: 'Roboto', sans-serif;
}
.content-bite-news{
    height: 75vh;
    overflow-y: scroll;
}
.bite-news-item{
    display: inline-block;
    width: auto;
    border: var(--primary-dark) 1px solid;
    padding: 10px;
    margin-bottom: 5px;
}