@model IEnumerable<Anything.Models.OrderMDetail>

@{
    ViewData["Title"] = "Index";
    Layout = null;
}

<h3>Pending List</h3>

<link rel="stylesheet" href="~/AdminLte/plugins/datatables-bs4/css/dataTables.bootstrap4.min.css">
<link rel="stylesheet" href="~/AdminLte/plugins/datatables-responsive/css/responsive.bootstrap4.min.css">
<link rel="stylesheet" href="~/AdminLte/plugins/datatables-buttons/css/buttons.bootstrap4.min.css">

<style>
    h3 {
        background-color: #c0c0c0;
        color: black;
        text-align: center;
        padding: 10px;
        margin: 0;
    }

    .table {
        width: 100%;
        border-collapse: collapse;
    }

        .table, .table th, .table td {
            border: 1px solid #ddd;
        }

            .table th, .table td {
                padding: 8px;
                text-align: left;
            }

            .table th {
                background-color: #f2f2f2;
                font-weight: bold;
            }

            .table tr:nth-child(even) {
                background-color: #f9f9f9;
            }

            .table tr:hover {
                background-color: #e2e2e2;
            }
</style>

<table id="example1" class="table">
    <thead>
        <tr>
            <th>Sr.No</th>
            <th>@Html.DisplayNameFor(model => model.Barcode)</th>
        </tr>
    </thead>
    <tbody>
        @{
            int i = 1;
        }
        @foreach (var item in Model)
        {
            <tr>
                <td>@i</td>
                <td>@Html.DisplayFor(modelItem => item.Barcode)</td>
            </tr>
            i++;
        }
    </tbody>
</table>

<!-- DataTables & Plugins -->
<script src="~/AdminLte/plugins/datatables/jquery.dataTables.min.js"></script>
<script src="~/AdminLte/plugins/datatables-bs4/js/dataTables.bootstrap4.min.js"></script>
<script src="~/AdminLte/plugins/datatables-responsive/js/dataTables.responsive.min.js"></script>
<script src="~/AdminLte/plugins/datatables-responsive/js/responsive.bootstrap4.min.js"></script>
<script src="~/AdminLte/plugins/datatables-buttons/js/dataTables.buttons.min.js"></script>
<script src="~/AdminLte/plugins/datatables-buttons/js/buttons.bootstrap4.min.js"></script>
<script src="~/AdminLte/plugins/jszip/jszip.min.js"></script>
<script src="~/AdminLte/plugins/pdfmake/pdfmake.min.js"></script>
<script src="~/AdminLte/plugins/pdfmake/vfs_fonts.js"></script>
<script src="~/AdminLte/plugins/datatables-buttons/js/buttons.html5.min.js"></script>
<script src="~/AdminLte/plugins/datatables-buttons/js/buttons.print.min.js"></script>
<script src="~/AdminLte/plugins/datatables-buttons/js/buttons.colVis.min.js"></script>

<script>
    $(document).ready(function () {
        $("#example1").DataTable({
            "responsive": true,
            "lengthChange": true,
            "autoWidth": false,
            "paging": true,
            "searching": true,
            "buttons": ["copy", "csv", "excel", "pdf", "print", "colvis"]
        }).buttons().container().appendTo('#example1_wrapper .col-md-6:eq(0)');
    });
</script>
