@model Anything.Models.OrderMaster

@{
    ViewData["Title"] = "Create";
   
    
}

<h1>Create</h1>

<h4>OrderMaster</h4>
<hr />
<div class="row">
    <div class="col-md-12">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="row">
                <div class="col-md-4">
                    <div class="form-group">
                        <label asp-for="OrderNum" class="control-label"></label>
                        <input asp-for="OrderNum" class="form-control" />
                        <span asp-validation-for="OrderNum" class="text-danger"></span>
                    </div>
                </div>

                <div class="col-md-4">
                    <div class="form-group">
                        <label asp-for="CustomerId" class="control-label"></label>
                        <select asp-for="CustomerId" class="form-control" asp-items="ViewBag.CustomerId" id="CustomerId">
                            <option value="">-- Select Customer --</option>
                        </select>
                        <span asp-validation-for="CustomerId" class="text-danger"></span>
                    </div>
                </div>

                <div class="col-md-4">
                    <div class="form-group">
                        <label asp-for="IssueDate" class="control-label"></label>
                        <input asp-for="IssueDate" class="form-control" />
                        <span asp-validation-for="IssueDate" class="text-danger"></span>
                    </div>
                </div>

                <div class="col-md-4">
                    <div class="form-group">
                        <label asp-for="KeyDate" class="control-label"></label>
                        <input asp-for="KeyDate" class="form-control" />
                        <span asp-validation-for="KeyDate" class="text-danger"></span>
                    </div>
                </div>

                <div class="col-md-4">
                    <div class="form-group">
                        <label asp-for="DrawingId" class="control-label"></label>
                        <select asp-for="DrawingId" class="form-control" asp-items="ViewBag.DrawingId" id="DrawingId">
                            <option value="">-- Select Drawing --</option>
                        </select>
                        <span asp-validation-for="DrawingId" class="text-danger"></span>
                    </div>
                </div>

                <div class="col-md-4">
                    <div class="form-group">
                        <label asp-for="ProductId" class="control-label"></label>
                        <select asp-for="ProductId" class="form-control" asp-items="ViewBag.ProductId" id="ProductId">
                            <option value="">-- Select Product --</option>
                        </select>
                        <span asp-validation-for="ProductId" class="text-danger"></span>
                    </div>
                </div>

                <div class="col-md-4">
                    <div class="form-group">
                        <label asp-for="OrderQty" class="control-label"></label>
                        <input asp-for="OrderQty" class="form-control" placeholder="e.g., 20" />
                        <span asp-validation-for="OrderQty" class="text-danger"></span>
                    </div>
                </div>

                <div class="col-md-6">
                    <div class="form-group">
                        <label asp-for="Revision" class="control-label"></label>
                        <input asp-for="Revision" class="form-control" placeholder="Revision" />
                        <span asp-validation-for="Revision" class="text-danger"></span>
                    </div>
                </div>

                <div class="col-md-4">
                    <div class="form-group">
                        <label asp-for="HSNcode" class="control-label"></label>
                        <input asp-for="HSNcode" class="form-control" placeholder="HSN code" />
                        <span asp-validation-for="HSNcode" class="text-danger"></span>
                    </div>
                </div>

                <div class="col-md-4">
                    <div class="form-group">
                        <label asp-for="Itemcode" class="control-label"></label>
                        <input asp-for="Itemcode" class="form-control" />
                        <span asp-validation-for="Itemcode" class="text-danger"></span>
                    </div>
                </div>

                <div class="col-md-4">
                    <div class="form-group">
                        <label asp-for="AddInfo" class="control-label"></label>
                        <input asp-for="AddInfo" class="form-control" />
                        <span asp-validation-for="AddInfo" class="text-danger"></span>
                    </div>
                </div>

                <div class="col-md-4">
                    <div class="form-group">
                        <label asp-for="ProDetail" class="control-label"></label>
                        <input asp-for="ProDetail" class="form-control" />
                        <span asp-validation-for="ProDetail" class="text-danger"></span>
                    </div>
                </div>

                <div class="col-md-4">
                    <div class="form-group">
                        <label asp-for="len" class="control-label"></label>
                        <input asp-for="len" class="form-control" />
                        <span asp-validation-for="len" class="text-danger"></span>
                    </div>
                </div>

                <div class="col-md-4">
                    <div class="form-group">
                        <label asp-for="Po" class="control-label"></label>
                        <input asp-for="Po" class="form-control" />
                        <span asp-validation-for="Po" class="text-danger"></span>
                    </div>
                </div>

                <div class="col-md-4">
                    <div class="form-group">
                        <label asp-for="Location" class="control-label"></label>
                        <input asp-for="Location" class="form-control" />
                        <span asp-validation-for="Location" class="text-danger"></span>
                    </div>
                </div>

                <div class="col-md-4">
                    <div class="form-group">
                        <label asp-for="Qty" class="control-label"></label>
                        <input asp-for="Qty" class="form-control" />
                        <span asp-validation-for="Qty" class="text-danger"></span>
                    </div>
                </div>

                <div class="form-group">
                    <input type="submit" value="Create new order" class="btn btn-success" />
                </div>
            </div>
        </form>
    </div>
</div>

@section Scripts {
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script type="text/javascript">
        $(document).ready(function () {
            $('#CustomerId').change(function () {
                var customerId = $(this).val();
                if (customerId) {
                    $.getJSON('/OrderMasters/GetDrawingsByCustomer', { customerId: customerId }, function (data) {
                        var drawingDropdown = $('#DrawingId');
                        drawingDropdown.empty();
                        drawingDropdown.append('<option value="">-- Select Drawing --</option>');
                        $.each(data, function (i, drawing) {
                            drawingDropdown.append('<option value="' + drawing.drawingId + '">' + drawing.productNumber + '</option>');
                        });
                    });
                } else {
                    $('#DrawingId').empty().append('<option value="">-- Select Drawing --</option>');
                    $('#ProductId').empty().append('<option value="">-- Select Product --</option>');
                }
            });

            $('#DrawingId').change(function () {
                var drawingId = $(this).val();
                if (drawingId) {
                    $.getJSON('/OrderMasters/GetProductsByDrawing', { drawingId: drawingId }, function (data) {
                        var productDropdown = $('#ProductId');
                        productDropdown.empty();
                        productDropdown.append('<option value="">-- Select Product --</option>');
                        $.each(data, function (i, product) {
                            productDropdown.append('<option value="' + product.productId + '">' + product.productNumber + '</option>');
                        });
                    });
                } else {
                    $('#ProductId').empty().append('<option value="">-- Select Product --</option>');
                }
            });
        });
    </script>
}