@model Anything.Models.StageConn

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>StageConn</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="SCid" />
            <div class="form-group">
                <label asp-for="GId" class="control-label"></label>
                <select asp-for="GId" class="form-control" asp-items="ViewBag.GId"></select>
                <span asp-validation-for="GId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CurrentStageId" class="control-label"></label>
                <select asp-for="CurrentStageId" class="form-control" asp-items="ViewBag.CurrentStageId"></select>
                <span asp-validation-for="CurrentStageId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="FailStageId" class="control-label"></label>
                <select asp-for="FailStageId" class="form-control" asp-items="ViewBag.FailStageId"></select>
                <span asp-validation-for="FailStageId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PassStageId" class="control-label"></label>
                <select asp-for="PassStageId" class="form-control" asp-items="ViewBag.PassStageId"></select>
                <span asp-validation-for="PassStageId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CreatedDate" class="control-label"></label>
                <input asp-for="CreatedDate" class="form-control" />
                <span asp-validation-for="CreatedDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

