@model Anything.Models.OrderMaster

@{
    ViewData["Title"] = "PlannerCreate";
}

<h1>PlannerCreate</h1>

<h4>OrderMaster</h4>
<hr />
<div class="row">
    <div class="col-md-12">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="row">
                <div class="col-md-4">
                    <div class="form-group">
                        <label asp-for="OrderNum" class="control-label"></label>
                        <input asp-for="OrderNum" class="form-control" />
                        <span asp-validation-for="OrderNum" class="text-danger"></span>
                    </div>
                    </<div>
                    </div>
                    <div class="col-md-4">
                        <div class="form-group">
                            <label asp-for="CustomerId" class="control-label"></label>
                            <!---- <select asp-for="CustomerId" class ="form-control" asp-items="ViewBag.CustomerId"></select>-->
                            <select asp-for="CustomerId" class="form-control" asp-items="ViewBag.CustomerId">
                                <option value="">-- Select Customer --</option>
                            </select>


                        </div>
                    </div>


                    <div class="col-md-4">
                        <div class="form-group">
                            <label asp-for="IssueDate" class="control-label"></label>
                            <input asp-for="IssueDate" class="form-control" />
                            <span asp-validation-for="IssueDate" class="text-danger"></span>
                        </div>
                    </div>

                    <div class="col-md-4">
                        <div class="form-group">
                            <label asp-for="KeyDate" class="control-label"></label>
                            <input asp-for="KeyDate" class="form-control" />
                            <span asp-validation-for="KeyDate" class="text-danger"></span>
                        </div>
                    </div>

                    <div class="col-md-4">
                        <div class="form-group">
                            <label asp-for="DrawingId" class="control-label"></label>
                            <!---- <select asp-for="DrawingId" class ="form-control" asp-items="ViewBag.DrawingId"></select>-->
                            <select asp-for="DrawingId" class="form-control" asp-items="ViewBag.DrawingId">
                                <option value="">-- Select Option --</option>
                            </select>

                        </div>
                    </div>

                    <div class="col-md-4">
                        <div class="form-group">
                            <label asp-for="ProductId" class="control-label"></label>
                            <!----  <select asp-for="ProductId" class ="form-control" asp-items="ViewBag.ProductId"></select>--->
                            <select asp-for="ProductId" class="form-control" asp-items="ViewBag.ProductId">
                                <option value="">-- Select Option --</option>
                            </select>
                        </div>
                    </div>

                    <div class="col-md-4">
                        <div class="form-group">
                            <label asp-for="OrderQty" class="control-label"></label>
                            <input asp-for="OrderQty" class="form-control" placeholder="eg 20" />
                            <span asp-validation-for="OrderQty" class="text-danger"></span>
                        </div>
                    </div>

                    <div class="col-md-6">
                        <div class="form-group">
                            <label asp-for="Revision" class="control-label"></label>
                            <input asp-for="Revision" class="form-control" placeholder="Revision" />
                            <span asp-validation-for="Revision" class="text-danger"></span>
                        </div>
                    </div>

                    <div class="col-md-4">
                        <div class="form-group">
                            <label asp-for="HSNcode" class="control-label"></label>
                            <input asp-for="HSNcode" class="form-control" placeholder="HSN code" />
                            <span asp-validation-for="HSNcode" class="text-danger"></span>
                        </div>
                    </div>

                    <div class="col-md-4">
                        <div class="form-group">
                            <label asp-for="Itemcode" class="control-label"></label>
                            <input asp-for="Itemcode" class="form-control" />
                            <span asp-validation-for="Itemcode" class="text-danger"></span>
                        </div>
                    </div>


                    <div class="col-md-4">
                        <div class="form-group">
                            <label asp-for="AddInfo" class="control-label"></label>
                            <input asp-for="AddInfo" class="form-control" />
                            <span asp-validation-for="AddInfo" class="text-danger"></span>
                        </div>
                    </div>


                    <div class="col-md-4">
                        <div class="form-group">
                            <label asp-for="ProDetail" class="control-label"></label>
                            <input asp-for="ProDetail" class="form-control" />
                            <span asp-validation-for="ProDetail" class="text-danger"></span>
                        </div>
                    </div>

                    <div class="col-md-4">
                        <div class="form-group">
                            <label asp-for="len" class="control-label"></label>
                            <input asp-for="len" class="form-control" />
                            <span asp-validation-for="len" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="form-group">
                            <label asp-for="Po" class="control-label"></label>
                            <input asp-for="Po" class="form-control" />
                            <span asp-validation-for="Po" class="text-danger"></span>
                        </div>
                    </div>

                    <div class="col-md-4">
                        <div class="form-group">
                            <label asp-for="Location" class="control-label"></label>
                            <input asp-for="Location" class="form-control" />
                            <span asp-validation-for="Location" class="text-danger"></span>
                        </div>
                    </div>

                    <div class="col-md-4">
                        <div class="form-group">
                            <label asp-for="Qty" class="control-label"></label>
                            <input asp-for="Qty" class="form-control" />
                            <span asp-validation-for="Qty" class="text-danger"></span>
                        </div>
                    </div>

                    <div class="form-group">
                        <input type="submit" value="Create new order" class="btn btn-success" />
                    </div>
        </form>
    </div>
</div>


<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
