@model Anything.Models.QcMaster

@{
    ViewData["Title"] = "Create";
}

<!-- jQuery -->
<script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
<h1>Create</h1>

<h4>QcMaster</h4>
<hr />
<div class="row">
    <div class="col-md-12">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="row">
                <div class="col-md-4">
                    <div class="form-group">
                        <label asp-for="FormName" class="control-label"></label>
                        <input asp-for="FormName" class="form-control" />
                        <span asp-validation-for="FormName" class="text-danger"></span>
                    </div>
                </div>
            </div>

            <div class="col-md-4">
                <div class="form-group">
                    <label asp-for="CustomerId" class="control-label"></label>
                    <select asp-for="CustomerId" class="form-control" asp-items="ViewBag.CustomerId">
                        <option value="">-- Select Customer --</option>
                    </select>
                </div>
            </div>






            <div class="col-md-4">
                <div class="form-group">
                    <label asp-for="ProductId" class="control-label"></label>
                    <select asp-for="ProductId" class="form-control" asp-items="ViewBag.ProductId"></select>
                </div>
            </div>


            <div class="col-md-4">
                <div class="form-group">
                    <label asp-for="StageId" class="control-label"></label>
                    <select asp-for="StageId" class="form-control" asp-items="ViewBag.StageId"></select>
                </div>
            </div>

            <div class="col-md-4">
                <div class="form-group">
                    <label asp-for=" ParameterName " class="control-label"></label>
                    <input type="text" class="form-control" required name="ParameterName[]" placeholder="Enter Header Name" value="" />
                    <span asp-validation-for="ParameterName" class="text-danger"></span>
                </div>
            </div>

            <div class="col-md-4">
                <div class="form-group">
                    <label asp-for="ParameterTitle" class="control-label"></label>
                    <input type="text" class="form-control" required name="ParameterTitle[]" placeholder="Enter Header Title" value="" />
                    <span asp-validation-for="ParameterTitle" class="text-danger"></span>
                </div>
            </div>

            <div class="col-md-4">
                <div class="form-group">
                    <label asp-for="ParameterType" class="control-label"></label>
                    <select class="form-control" required name="ParameterType[]">
                        <option value="">----- Select Header Type -----</option>
                        <option value="text">Textbox</option>
                        <option value="checkbox">Checkbox</option>
                    </select>
                    <span asp-validation-for="ParameterType" class="text-danger"></span>
                </div>
            </div>


            <div class="col-md-4">
                <div class="form-group">
                    <label asp-for="Min" class="control-label"></label>
                    <input type="text" class="form-control" name="Min[]" placeholder="Enter Minimum value" value="0" />
                    <span asp-validation-for="Min" class="text-danger"></span>
                </div>
            </div>

            <div class="col-md-4">
                <div class="form-group">
                    <label asp-for="Max" class="control-label"></label>
                    <input type="text" class="form-control" name="Max[]" placeholder="Enter Maximum Value" value="0" />
                    <span asp-validation-for="Max" class="text-danger"></span>
                </div>
            </div>
            <div class="col-md-2 mb-3">
                <input type="button" class="btn btn-success btn-sm" id="addmorehead" value="Add" />
            </div>
            <input type="hidden" name="value" value="1" />
            <div id="headercontent"></div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }

    <script type="text/javascript">
        $(function () {
            $("#addmorehead").on("click", function () {
                var div = $("<div />").addClass("closediv row mt-3");
                div.html(getDynamicTextBox());
                $("#headercontent").append(div);
            });

            $("body").on("click", ".remove", function () {
                $(this).closest(".closediv").remove();
            });
        });

        function getDynamicTextBox() {
            return '<div class="col-md-2 mb-3">' +
                '<input type="text" class="form-control" required name="ParameterName[]" placeholder="Enter Header Name" value=""/>' +
                '</div>' +
                '<div class="col-md-2 mb-3">' +
                '<input type="text" class="form-control" required name="ParameterTitle[]" placeholder="Enter Header Title" value=""/>' +
                '</div>' +
                '<div class="col-md-2 mb-3">' +
                '<select class="form-control" required name="ParameterType[]">' +
                '<option value="">----- Select Header Type -----</option>' +
                '<option value="text">Textbox</option>' +
                '<option value="checkbox">Checkbox</option>' +
                '</select>' +
                '</div>' +
                '<div class="col-md-2 mb-3">' +
                '<input type="text" class="form-control" name="Min[]" placeholder="Enter Minimum value" value="0"/>' +
                '</div>' +
                '<div class="col-md-2 mb-3">' +
                '<input type="text" class="form-control" name="Max[]" placeholder="Enter Maximum Value" value="0"/>' +
                '</div>' +
                '<div class="col-md-2 mb-3">' +
                '<input type="button" class="btn btn-danger btn-sm remove" value="Remove"/>' +
                '</div>';
        }

    </script>

    <!-- Bootstrap JS and dependencies -->
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.bundle.min.js"></script>
}